@mixin test($t) {
    @if $t == 'f' {
        background-color: rgba(172, 255, 47, 0.316);
    }
    @if $t == 'b' {
        border: 1px solid red;
    }
}

@mixin flex-v($pad) {
    display: flex;
    align-items: center;
    padding: $pad;
};

@mixin text-control($w) {
    width: $w;
    min-width: $w;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin hover-shade($c) {
    cursor: pointer;
    &:hover {
        background-color: $c;
    }
};